.navbar-custom {
    background-color: #004403;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,255);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


.menu_link {
    display: block,;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    outline: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
}

.menu_link:hover {
    background-color: orange;
    text-decoration: none;
    color: white;
}

.MuiToolbar-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}